.review-tab .ant-tabs-content-holder {
    background-color: #f8f7f7;
    padding-top: 2%;
}
.review-tab .ant-comment {
    margin-bottom: 2%;
    background-color: #fff;
    padding: 0 2%;
    background: rgba(196, 196, 196, 0.04);
    border: 1px solid #E5E5E5;
}
.review-tab .alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.review-tab .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.review-tab .pagination-holder{
    display: flex;
    justify-content: flex-end;
}
.review-tab button.saved-btn {
    border: none;
    background: none;
    cursor: pointer;
}
.review-tab .filter-holder {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
    padding-right: 5%;
}

.review-tab .review-card {
    padding: 0 5%;
}
.review-tab .ant-comment-content-author-name {
    font-size: 15px;
    color: #148ded;
    font-weight: 500;

}
.review-tab .ant-comment-content-author-time {
    font-size: 13px;
}
.review-tab .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid #2196f3;
}

.review-tab .saved-btn {
    font-size: 19px;
    color: #F3D515;
}
.review-tab .unsaved-btn{
    font-size: 19px;
}
.ant-comment-content-detail p {
    font-size: 17px;
}
.review-tab .ant-avatar {
    width: 40px;
    height: 50px;
    line-height: 38px;
}
.review-tab .ant-comment-avatar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.review-tab .filter-select{
    width: 120px;
}
.ant-comment-content-detail {
    display: flex;
    justify-content: space-between;
}