* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.profile-tabs-holder .Tab__header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-tabs-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 3rem;
}
.profile-tabs-holder .ant-tabs {
    width: 70%;
}
