
.ClientReviews .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.ClientReviews h2.ant-typography.sub-title {
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 5px;
    text-align: center;
    color: #070558;
}
.ClientReviews h5.ant-typography.description-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #656464;
    width: 27%;
}
.ClientReviews .partner-content-img img.clientImg {
    width: 60%;
}
.ClientReviews .partner-content {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
}
.ClientReviews .carsouel-holder {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ClientReviews .ant-carousel .slick-dots li button {
    background: #3b4b9e !important;
}
.ClientReviews .slide-content p{
    font-style: italic;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    color: #6D6D6D;
}

.slide-content h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #1C1C1D;
}
.slide-content h4 {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #9C988F;
}
.ClientReviews .ant-carousel .slick-dots-bottom {
    bottom: -52px;
}

.ClientReviews .partner-content-img {
    display: flex;
    flex-direction: column;
}
.ClientReviews img.bgImg {
    width: 40%;
    margin-bottom: -38%;
}