* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top-challenges {
    background-color: #5A4284;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: center;
    align-items: center;
    padding: 1.8rem 0 6.2rem 0;
}

.top-challenges .top-challenges__title {
    color: white;
}
.top-challenges__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
}
.top-challenges__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 28rem;
    background-color: white;
    height: 14rem;
    border-radius: 10px;
    padding: 0.8rem 1.8rem;
}

.top-challenges__card-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    position: relative;
}

.top-challenges__card-title::after {
    content: "";
    display: block;
    position: absolute;
    left:-15%;
    width: 28rem;
    height: 1px;
    background-color: #E0E0E0;
    margin-top: 0.8rem;
}
.top-challenges__card-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.8rem;
}