* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top-challenges {
    background-color: #5A4284;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: center;
    align-items: center;
    padding: 2.8rem 0 7.2rem 0;
}

.top-challenges .top-challenges__title {
    color: white;
}
.top-challenges .top-challenges__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding-left: 3.2rem;
    gap: 2.4rem;
}
.top-challenges .top-challenges__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    background-color: white;
    height: 14rem;
    border-radius: 10px;
    padding: 0.8rem 1.8rem;
    cursor: pointer;
    overflow-x: hidden;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.top-challenges__card:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.top-challenges__card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.8rem;
    position: relative;
}

.top-challenges__card-title::after {
    content: "";
    display: block;
    position: absolute;
    left:-15%;
    width: 28rem;
    height: 1px;
    background-color: #E0E0E0;
    margin-top: 0.8rem;
}
.top-challenges__card-name {
    font-size: 17px;
    font-weight: bold;
    padding: 7% 0;
    color: #7f7e80;
}

.top-challenges__card-tag {
    font-size: 0.8rem;
    text-transform: uppercase;
    height: 34px;
    width: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
}