* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.modal-logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img,.logo {
  width: 140px;
}
.ant-form-horizontal .ant-form-item-label {
  display: flex;
}
.ant-form-item {
  display: flex !important;
  flex-direction: column !important;
}
.ant-modal-header {
  border-bottom: 0px !important;
}
button.ant-btn.ant-btn-primary.signup {
  background: #432773;
  border-radius: 5px;
  border: 1px solid #432773;
  height: 37px;
  padding: 4px 60px;
}
.form-group-btn {
  display: flex;
  justify-content: center;
  margin: 7% 0;
}
button.ant-btn.ant-btn-primary.signup:hover {
  background: #673ab7;
  border: 1px solid #673ab7;
}
.ant-modal-header {
  border-radius: 5px;
}
.ant-modal-content {
  border-radius: 5px;
}
.have-account {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBtn {
  background-color: #432773;
  border: none;
  width: 7rem;
  height: 2.5rem;
  border-radius: 10px;
}

.loginBtn:hover {
  background-color: #673ab7;
}

.loginBtn:focus , .signUpBtn:focus {
  background-color: #673ab7;
}

.loginBtn:active , .signUpBtn:active {
  background-color: #673ab7;
}

.signup-form {
display: flex;
flex-direction: column;
justify-content: center;
}

.btn-link {
  margin: 0;
  margin-left: 1.2rem;
  padding: 0;
  background-color: white;
  border: none;
  outline: none;
  color: blue;
}

.btn-link:hover {
  background-color: white;
  color: blue !important;
}